CLIENT_GATEWAY_PORT=3100

PAYMENTS_MICROSERVICE_PORT=3000
AUTH_MICROSERVICE_PORT=3006

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=<your-stripe-secret-key>

STRIPE_SUCCESS_URL=http://localhost:3100/payments/success
STRIPE_CANCEL_URL=http://localhost:3100/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1OrjjpLpSSVtW50ltIQEAP8z
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=<your-stripe-endpoint-secret>

# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://nats-server:4222"

AUTH_DATABASE_URL=mongodb+srv://<USER>:<PASSWORD>@auth-microservice-db.hjfsgmk.mongodb.net/AuthDB

JWT_SECRET=StringSeguro